<h1>Générateur de salades</h1>
<div class="text-center padded">
  <%= link_to "Créer une salade", new_salad_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">
    <% @salads.each do |salad| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <div class="card-body">
            <%= link_to salad.name, salad_path(salad) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
